<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!-- For Data Access app. block - Shaik Aslam-->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit"/>
    </sectionGroup>
    <!-- END shaik aslam-->
  </configSections>
  <!-- Data Configuration settings. BY:Shaik Aslam-->
  <dataConfiguration defaultDatabase="MudarConnectoinString"/>
  <!-- local server -->
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="2001"/>
    <add key="Prefix_ULogin" value="MD"/>
    <add key="FarmerIcon" value="../images/FarmerIcon.jpg"/>
    <add key="SeasonStartYear" value="2013"/>
    <add key="SeasonYearCount" value="5"/>
    <add key="MudarStartYear" value="2013"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="SecurityKey" value="MudarOrganicVGsoft"/>
    <add key="FarmerPage" value="http://localhost:27631/FarmerHome.aspx"/>
    <add key="AdminPage" value="http://localhost:27631/AdminHome.aspx"/>
    <add key="BuyerPage" value="http://localhost:27631/BuyerHome.aspx"/>
    <add key="BranchPage" value="http://localhost:27631/BranchHome.aspx"/>
    <add key="SuperAdminPage" value="http://localhost:27631/SuperAdminHome.aspx"/>
    <add key="SupplierPage" value="http://localhost:27631/SupplierHome.aspx"/>
    <add key="SocietyPage" value="http://localhost:27631/SocietyHome.aspx"/>
    <add key="HomePage" value="http://localhost:27631/Home.aspx"/>
    <add key="LoginPage" value="http://localhost:27631/Login.aspx"/>
    <add key="AdminRole" value="D1BF0750-68F9-4F25-9BB5-2A8B2E301528"/>
    <add key="BranchRole" value="82AD1024-6F5D-4B0D-9829-47E6BE304786"/>
    <add key="BuyerRole" value="604F2B45-D580-4E63-BD1F-9324DE1E2560"/>
    <add key="SupplierRole" value="A7112120-B136-4407-A5F9-FA9A6CB2254F"/>
    <add key="farmer" value="~/Attachments/Farmer/"/>
    <add key="orderpdf" value="../Attachments/OrderPDF/"/>
    <add key="BuyerLogo" value="~/Attachments/BuyerLogo/"/>
    <add key="FolderPath" value="~/Files/"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="EmailEnabled" value="YES"/>
    <add key="emailBodyFolder" value="../Attachments/EmailBody/"/>
    <add key="SupportFromEmail" value="bhanu1236@gmail.com"/>
    <add key="SupportFromName" value="sudheer MudarIndia"/>
    <add key="SupportFromPwd" value="sam@0429"/>
    <add key="ServerType" value="Local"/>
    <add key="SMTPServer_port" value="587"/>
    <add key="BuyerReg" value="/MudarOrganic.Website/Buyer/Buyer.aspx"/>
    <add key="FarmerID" value="A4FDCA7D-D5A6-4085-B4FB-419A982E5004"/>
  </appSettings>
  <!-- Local Host-->
  <!--<appSettings>
    <add key="Prefix_ULogin" value="MD" />
    <add key="FarmerIcon" value="../images/FarmerIcon.jpg" />
    <add key="SeasonYearCount" value="3" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="SecurityKey" value="MudarOrganicVGsoft" />

    <add key ="FarmerPage" value="http://naren/Test_MR/FarmerHome.aspx"/>
    <add key ="AdminPage" value="http://naren/Test_MR/AdminHome.aspx"/>
    <add key ="BuyerPage" value="http://naren/Test_MR/BuyerHome.aspx"/>
    <add key="BranchPage" value="http://naren/Test_MR/BranchHome.aspx"/>
    <add key ="HomePage" value="http://naren/Test_MR/Home.aspx"/>


    <add key="BranchRole" value="82AD1024-6F5D-4B0D-9829-47E6BE304786"/>
    <add key="BuyerRole" value="604F2B45-D580-4E63-BD1F-9324DE1E2560"/>

    <add key="farmer" value="~/Attachments/Farmer/"/>
    <add key="orderpdf" value="../Attachments/OrderPDF/"/>
  </appSettings>-->
  <!-- web server -->
  <!--<appSettings>
     <add key="Prefix_ULogin" value="MD" />
     <add key="FarmerIcon" value="../images/FarmerIcon.jpg" />
     <add key="SeasonYearCount" value="3" />
     <add key="CrystalImageCleaner-AutoStart" value="true" />
     <add key="CrystalImageCleaner-Sleep" value="60000" />
     <add key="CrystalImageCleaner-Age" value="120000" />
     <add key="SecurityKey" value="MudarOrganicVGsoft" />
    
     <add key ="FarmerPage" value="http://mudarorganic.com/FarmerHome.aspx"/>
     <add key ="AdminPage" value="http://mudarorganic.com/AdminHome.aspx"/>
    <add key ="BuyerPage" value="http://mudarorganic.com/BuyerHome.aspx"/>
    <add key="BranchPage" value="http://mudarorganic.com/BranchHome.aspx"/>
    <add key ="HomePage" value="http://mudarorganic.com/Home.aspx"/>
    
    <add key="BranchRole" value="82AD1024-6F5D-4B0D-9829-47E6BE304786"/>
    <add key="BuyerRole" value="604F2B45-D580-4E63-BD1F-9324DE1E2560"/>
    
    <add key="farmer" value="~/Attachments/Farmer/"/>
    <add key="orderpdf" value="~/Attachments/OrderPDF/"/>
    
    <add key="SMTPServer" value="127.0.0.1"/>
    <add key="EmailEnabled" value="YES"/>
    <add key="emailBodyFolder" value="../Attachments/EmailBody/" />
    <add key="SupportFromEmail" value="info@mudarorganic.com"/>
    <add key="SupportFromName" value="Mudarorganic"/>
    <add key="SupportFromPwd" value="Mudar@123"/>
    <add key="ServerType" value="server"/>
    <add key="SMTPServer_port" value="587"/>
  </appSettings>-->
  <connectionStrings>
    <add name="MudarConnectoinString" connectionString="Server =sql5033.site4now.net; Database =DB_9AFDB7_society; user id=DB_9AFDB7_society_admin; password=Mudar@123;" providerName="System.Data.SqlClient"/>
    <!--<add name="MudarConnectoinString" connectionString="Server =sql5023.site4now.net; Database = DB_9AFDB7_TestDB; user id=DB_9AFDB7_TestDB_admin; password=Mudar@123;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="MudarConnectoinString" connectionString="Server=Vijay-PC;Database=Mudar_Server;user id=dvk;password=dvk123;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="MudarConnectoinString" connectionString="Server =BHANU-PC; Database=MudarOrg_Fin; user id=sa; password=sql;" providerName="System.Data.SqlClient"/>-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Mudar_123ConnectionString" connectionString="Data Source=HANA3-PC;Initial Catalog=MudarFinalDB;Persist Security Info=True;User ID=sa;Password=hana@1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debuggingST
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="Infragistics35.WebUI.UltraWebChart.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics35.WebUI.Shared.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>-->
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="Mudarorganic" path="/" loginUrl="~/Login.aspx" protection="All" timeout="40"/>
    </authentication>
    <!--<authentication mode="Windows" />-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages enableEventValidation="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <defaultDocument>
      <files>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <remove value="default.aspx"/>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>